<footer id="footer" class="page-block">
  <div class="container">
    <div class="section no-border">
      <header class="page-head colored clearfix">
      
        <div class="col-md-6 col-sm-12">
          <h3>Subscribe To Our Newsletter</h3>
          <form action="" id="subscribeForm" method="post">
            <div class="form-row">
              <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control" placeholder="Enter Your Email Address Here..." />
              <input type="submit" id="sub-submit" name="sub-submit" value="" class="" />
            </div>
          </form>
        </div>
        
        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <h3>Let's Get Social</h3>
          <div class="social">
            <ul class="list-inline">
              <li><a class="tips" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tips" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tips" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
              <li><a class="tips" href="#" title="Follow Us On Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
              <li><a class="tips" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="tips" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
              <li><a class="tips" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="tips" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- end social --> 
        </div>
      </header>
      <p class="text-center">OnEvent &copy; <span class="year"></span> . All Rights Reserved. <br>
        Landing Page Template Designed &amp; Developed By: <a href="http://www.themeforest.net/user/saptarang?ref=saptarang">Saptarang</a></p>
      <a href="#top" class="top"><i class="fa fa-arrow-up fa-lg"></i></a> 
    </div><!--end-of-section--> 
  </div>
</footer>