<section id="main" class="page-block">
  <div class="container">
    	<header class="clearfix">
          		<div class="text-center">
                    <div class="venue">
                    	<h1><%= @event.name %><br><small>On June 7, 2015</small></h1>
                      	<h2>San Francisco Convention Center</h2>
                      	<p class="text-muted">123 Street, San Fransisco, USA</p>
                    </div>
                    <div class="countdown styled"></div>
                    <a href="#" title="Register For This Event" class="btn register-trigger"><i class="fa fa-plus-circle"></i> Register For this event</a>
                    <form id="register" method="post" action="form/register.php">
                    <div class="field-wrapper">
                        <h3 class="regHeading">Register For This <span>Event</span></h3>
                        <div class="row">
                          <div class="col-md-4 form-row">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
                          </div>
                          <div class="col-md-4 form-row">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" />
                          </div>
                          <div class="col-md-4 form-row">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
                          </div>
                          </div>
                          <div class="form-row clearfix">
                            <textarea cols="60" rows="3" id="comment" name="comment" class="form-control" placeholder="Write your comment here..."></textarea>
                          </div>
                          <input type="submit" value="Submit" class="btn btn-custom btn-lg" id="submit" name="submit" />
                     </div>
                    </form>
            	</div>
      </header>
   </div>
  <div id="intro" class="page-block">
  <div class="container">
    <div class="section">
      <article>
        <h3>About <span><%= @event.name %></span></h3>
        <p><%= @event.about %></p>
        </article>
      </div>
    <!--end-section--> 
    </div>
  </div>
</section>