<section id="partners" class="page-block">
  <div class="container">
    <div class="section">
      <header class="page-head">
        <h2>Partners/Sponsors</h2>
        <p class="text-muted">Our Esteemed Partners/Sponsors for this event</p>
      </header>
      <article>
        <p>Aliquam nulla mi, cursus ac tortor quis, fringilla viverra turpis. Donec tincidunt urna erat, in porttitor purus pharetra quis. Vestibulum rhoncus blandit suscipit. 
          Nullam id ullamcorper diam. Curabitur porttitor leo in euismod eleifend. Nulla ac nunc ac leo commodo ullamcorper. Integer tempus fermentum urna vitae dignissim. 
          Proin adipiscing neque at urna facilisis, nec mattis lacus laoreet. Nullam vitae feugiat lacus.</p>
      </article>
      <div class="partner clearfix"> 
      	<a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/1.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/2.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/3.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/4.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/1.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/2.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/3.png" alt="Partner Brand" />
        </a> 
        <a href="#" title="Partner Brand">
          <img class="img-responsive" src="images/partners/4.png" alt="Partner Brand" />
        </a>
     </div>
    </div>
  </div>
</section>