<section id="schedule" class="page-block">
  <div class="container">
    <div class="section no-padding clearfix"> 
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs clearfix">
        <li class="active">
        	<a href="#event-schedule" data-toggle="tab"><i class="fa fa-clock-o"></i>
          	<h5>Event Schedule<small>Daily Activities</small></h5>
          	</a>
        </li>
        <li>
        	<a href="#promo" data-toggle="tab"><i class="fa fa-play-circle"></i>
          	<h5>Promotional Video<small>Watch The Video</small></h5>
          	</a>
        </li>
        <li>
        	<a href="#event-gallery" data-toggle="tab"><i class="fa fa-picture-o"></i>
          	<h5>Event Gallery<small>Pics From Our Past Events</small></h5>
          	</a>
        </li>
        <li>
        	<a href="#exec-presence" data-toggle="tab"><i class="fa fa-star"></i>
          	<h5>Executive Presence<small>Invited Personalities</small></h5>
          	</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="event-schedule">
          <h3><i class="fa fa-clock-o"></i> Event <span>Schedule</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <div class="row clearfix">
          
            <div class="col-md-4 col-sm-12 schedule-box">
              <h6 class="section-head"><span>Day 1</span> 6 Hours</h6>
              <ul class="activities">
                <li>
                  <h6><strong>10:00 am</strong> - Suspendisse dignissim </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>12:30 pm</strong> - Lunch Time </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>1:30 pm</strong> - Lorem Ipsum Dolor </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-12 schedule-box">
              <h6 class="section-head"><span>Day 2</span> 6 Hours</h6>
              <ul class="activities">
                <li>
                  <h6><strong>10:00 am</strong> - Suspendisse dignissim </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>12:30 pm</strong> - Lunch Time </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>1:30 pm</strong> - Lorem Ipsum Dolor </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-12 schedule-box">
              <h6 class="section-head"><span>Day 3</span> 6 Hours</h6>
              <ul class="activities">
                <li>
                  <h6><strong>10:00 am</strong> - Suspendisse dignissim </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>12:30 pm</strong> - Lunch Time </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
                <li>
                  <h6><strong>1:30 pm</strong> - Lorem Ipsum Dolor </h6>
                  <p>Convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis.</p>
                </li>
              </ul>
            </div>
          </div>
          <!--end-of-row--> 
        </div>
        <!--end-event-schedule-content-->
        
        <div class="tab-pane" id="promo">
          <h3><i class="fa fa-play-circle"></i> Promotional <span>Video</span></h3>
          <iframe width="425" height="250" src="http://www.youtube.com/embed/0h0lN556Hi0" frameborder="0" allowfullscreen></iframe>
        </div>
        <!--end-event-schedule-content-->
        
        <div class="tab-pane" id="event-gallery">
          <h3><i class="fa fa-picture-o"></i> Event <span>Gallery</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. </p>
          <div class="img-grid clearfix">
            <ul id="eg-thumbs" class="eg-thumbs clearfix">
              <li> 
              	<a href="images/gallery/large/01.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/01.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 1</span></div></a> 
              </li>
              <li> 
              	<a href="img/gallery/large/02.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/02.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 2</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/03.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/03.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 3</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/04.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/04.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 4</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/05.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/05.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 5</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/06.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/06.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 6</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/07.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/07.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 7</span></div></a> 
              </li>
              <li> 
              	<a href="images/gallery/large/08.jpg" title="Event PhotoGallery" rel="prettyPhoto[gallery]"> <img src="images/gallery/thumb/08.jpg" alt="Event Photo" class="img-responsive">
                <div class="img-caption"><span>Image Caption 8</span></div></a> 
              </li>
            </ul>
          </div>
          <!--end-img-grid--> 
          
        </div>
        <!--end-event-schedule-content-->
        
        <div class="tab-pane" id="exec-presence">
          <h3><i class="fa fa-star"></i> Executive <span>Presence</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. </p>
          <ul class="li-blocks">
            <li><strong>Jonathan Doe</strong> - President, CompanyName</li>
            <li><strong>Christine Martin</strong> - COO, CompanyName</li>
            <li><strong>Richardson Hooper</strong> - Operations Manager, CompanyName</li>
            <li><strong>Agatha Collins</strong> - Enterprise Manager, CompanyName</li>
            <li><strong>Paul Martin</strong> - Creative Director, CompanyName</li>
            <li><strong>Johnny Connor</strong> - CEO, CompanyName</li>
            <li><strong>Jonathan Doe</strong> - President, CompanyName</li>
            <li><strong>Christine Martin</strong> - COO, CompanyName</li>
            <li><strong>Richardson Hooper</strong> - Operations Manager, CompanyName</li>
            <li><strong>Agatha Collins</strong> - Enterprise Manager, CompanyName</li>
            <li><strong>Paul Martin</strong> - Creative Director, CompanyName</li>
            <li><strong>Johnny Connor</strong> - CEO, CompanyName</li>
          </ul>
        </div>
        <!--end-event-schedule-content--> 
      </div>
    </div>
  </div>
</section>