<section id="speakers" class="page-block">
  <div class="container">
    <div class="section clearfix bottom-margin">
      <header class="page-head colored clearfix">
        <h2>Speakers of the Event</h2>
        <p class="text-muted">We’ve got expert’s speech from around the world </p>
      </header>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis. 
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </article>
    </div>
    <div class="row clearfix speaker-grid">
    
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding">
          <figure> 
          	<img src="images/speakers/speaker1.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Richard Doe</h6>
              <p>Vice President, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4-->
      
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding">
          <figure> 
          	<img src="images/speakers/speaker2.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Christine Doe</h6>
              <p>CEO, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4-->
      
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding">
          <figure> 
          	<img src="images/speakers/speaker3.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Jonathan Doe</h6>
              <p>Operations, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4-->
      
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding no-margin">
          <figure> 
          	<img src="images/speakers/speaker1.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Richard Doe</h6>
              <p>Vice President, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4-->
      
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding no-margin">
          <figure> 
          	<img src="images/speakers/speaker2.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Christine Doe</h6>
              <p>CEO, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4-->
      
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="section no-padding no-margin">
          <figure> 
          	<img src="images/speakers/speaker3.jpg" alt="Speaker" class="img-responsive" />
            <figcaption class="speaker-info"> 
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. 
           	</figcaption>
          </figure>
          <div class="speaker clearfix">
            <div class="col-md-10 col-sm-9 col-xs-9">
              <h6>Jonathan Doe</h6>
              <p>Operations, Company Name</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
          </div>
        </div>
      </div>
      <!--end-col-md-4--> 
    </div>
    <!--end-row--> 
  </div>
</section>