<section id="venue" class="page-block">
  <div class="container">
    <div class="section clearfix bottom-margin">
      <header class="page-head colored clearfix">
        <h2>Venue</h2>
        <p class="text-muted">Location that you'll be looking for</p>
      </header>
      <article>
        <div id="map_canvas"></div>
        <div class="row clearfix">
          <div class="col-md-3 col-sm-12 column">
            <div class="column-content">
              <h3>Event <span>Location</span></h3>
              <ul class="address">
                <li> <i class="fa fa-map-marker"></i> <strong>Visit Us</strong><br>
                  123 Main Street<br>
                  San Francisco, CA 94105, USA </li>
                <li> <i class="fa fa-phone"></i> <strong>Call Us</strong><br>
                  310.55.1213 </li>
                <li> <i class="fa fa-envelope"></i> <strong>Email Us</strong><br>
                  <a href="mailto:info@yourdomain.com">info@yourdomain.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 column directions-input">
            <div class="column-content">
              <h3>Get <span>Directions</span></h3>
              <form action="/routebeschrijving" onSubmit="calcRoute();return false;" id="routeForm">
                <label for="routeStart"><strong>Destination From:</strong></label>
                <input type="text" id="routeStart" value="50 California Street">
                <label for="travelMode"><strong>Via(Optional):</strong></label>
                <input type="text" id="routeVia">
                <label>Travel mode:</label>
                <div class="clearfix">
                  <label class="radio-option">
                    <input type="radio" name="travelMode" value="DRIVING" checked />
                    Driving</label>
                  <label class="radio-option">
                    <input type="radio" name="travelMode" value="BICYCLING" />
                    Bicylcing</label>
                  <label class="radio-option">
                    <input type="radio" name="travelMode" value="TRANSIT" />
                    Public transport</label>
                  <label class="radio-option last">
                    <input type="radio" name="travelMode" value="WALKING" />
                    Walking</label>
                </div>
                <input type="submit" value="Get Directions" class="btn btn-block">
              </form>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 column directions-results">
            <div class="column-content">
              <h3>Directions</h3>
              <div id="directionsPanel"> Enter <strong>Destination From</strong> under <strong>Get Directions</strong> and Click on Get Directions Button. </div>
            </div>
          </div>
        </div>
        <!--end-of-row--> 
      </article>
    </div>
  </div>
</section>