


<!-- Enable this css if you want to override styles-->
<!--<link href="css/override.css" rel="stylesheet" media="screen">-->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<body onLoad="initialize()">
<div id="texture">
<!-- start HEADER -->
<%= render 'event/header' %>
<!-- end HEADER -->
 
<!--BEGIN-INTRO-BOX-->
<%= render 'event/introbox' %>


<!--BEGIN-INTRO-BOX-->
<section id="intro" class="page-block">
  <div class="container">
    <div class="section">
      <article>
        <h3>About <span>Event</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis. 
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </article>
    </div>
    <!--end-section--> 
  </div>
</section>
<!--END-INTRO-BOX--> 

<!--BEGIN-SCHEDULE-->
<%= render 'event/schedule' %>
<!--END-SCHEDULE--> 

<!--BEGIN-SPEAKERS-->
<%= render 'event/speakers' %>
<!--END-SPEAKERS--> 

<!--BEGIN-PARTNERS-->
<% render 'event/partners' %>
<!--END-PARTNERS--> 

<!--BEGIN-FAQ-->
<% render 'event/faq' %>
<!--END-FAQ--> 

<!--BEGIN-VENUE-->
<%= render 'event/venue' %>
<!--END-VENUE--> 

<!--BEGIN-FOOTER-->
<%= render 'event/footer' %>

</div>
<!--END-FOOTER--> 
</body>