<section id="intro" class="page-block">
  <div class="container">
    <div class="section">
      <header class="page-head clearfix">
        <div class="row">
          <div class="col-md-10 col-sm-12 text-right">
            <div class="venue text-left">
              <h2>San Francisco Convention Center</h2>
              <p class="text-muted">123 Street, San Fransisco, USA</p>
            </div>
            <div class="countdown styled"></div>
          </div>
          <div class="col-md-2 col-sm-12 text-center"> <a href="#" title="Register For This Event" class="btn register-trigger"><i class="fa fa-plus-circle"></i> Register</a>
            <h3 class="regHeading">Register For This <span>Event</span></h3>
            <form id="register" method="post" action="form/register.php">
              <div class="field-wrapper">
                    <div class="form-row">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
                    </div>
                    <div class="form-row">
                      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" />
                    </div>
                    <div class="form-row">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
                    </div>
                    <div class="form-row clearfix">
                      <textarea cols="60" rows="3" id="comment" name="comment" class="form-control" placeholder="Write your comment here..."></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-custom btn-lg" id="submit" name="submit" />
               </div>
            </form>
          </div>
        </div>
        <!--end-row--> 
      </header>
      <article>
        <h3>About <span>Event</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vitae nulla at ultricies. Suspendisse consequat tempor mi, eu tristique mi. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim convallis dolor at viverra. Nullam consequat nulla enim, eu vulputate magna varius quis. 
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </article>
    </div>
    <!--end-section--> 
  </div>
</section>